html	{
	height:100%;
}

body		{
	font-size:18px;
	font-family:'Lato', sans-serif;
	height: 100vh;
    overflow: hidden;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    border:0px solid blue;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h1		{
	font-weight: 300;
	font-size:1.4vw;
}

h3		{
	font-weight: 700;
	font-size:1vw;
	text-align: center;
}

h4	{
	margin:0px;
	color:#3CACEB;
	font-size:0.9vw;
}

#sidebar {
    flex-shrink: 0; 
    width:20%;
}

#main{
	border:0px solid green;
	overflow:scroll;
	width:80%;
	background-color:#F0F1F6;
	padding:1rem;
	flex-shrink: ;
}

section	{
	border:0px solid red;
}

aside#sidebar {
	color:#c2cbcf;
	padding-top:2%;
	background-color: #566069;
	flex-shrink: 0;
}

aside>header		{
	color:#c2cbcf;
	text-align: center;
	margin-bottom:15%;
}

aside .fa-search		{
	color:#fff;
	font-size:1.6vw;
}

input{
	display:block;
	color:#929BA2;
	background-color:#454E57;
	font-size:0.9vw;
	width:70%;
	margin:0 auto 3% auto;
	border:2px solid #747E87;
	border-radius: 20px;
	padding:5px 0 5px 15px;
}

input#filter		{
	display:inline;
	width:70%;
	margin:0 5% 3% 7%;
}

#submit		{
	background-color:#3CACEB;
	color:#fff;
	text-align:center;
	border:0px solid #3CACEB;
	width:75%;
}
.divider		{
	width:75%;
	border:1px solid #747E87;
	margin:60px auto;

}

/* -- Subscribed Feeds -- */

.feed	{
	border:0px solid blue;
	width:100%;
	margin-bottom: 15px;
}

#subscribed_feeds		{
	border:0px solid red;
	padding:20px 20px;
}
#subscribed_feeds i		{
	display:inline;
	font-size:1.4vw;
	position:relative;
	top:2px;

}

#subscribed_feeds .feedName		{
	display:inline;
	padding:0px 20px;
}

#subscribed_feeds .fa-times-circle		{
	float:right;
	color:#ECA493;
}


/* -- Articles -- */

.flex-grid	{
	display:flex;
	flex-wrap:wrap;
}

.flex-item	{
	display:flex;
	flex-direction: column;
	width:25%;
	min-width:25rem;
	margin:1.2rem;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.flex-item header	{
	display:flex;
	justify-content: space-between;
	background-color: #566069;
	padding:20px 20px;
}

article header .fa-external-link	{
	color:#c2cbcf;
	padding-right:5px;
}

article header time	{
	color:#c2cbcf;
	font-size:0.7em;
	padding-top:6px;
}

article figure	{
	margin:0;
}

article .article_content	{
	display:flex;
	flex-direction: column;
}

article .article_content header	{
	flex:1;
	padding:20px 20px;
	color:#A1A1A1;
}

article .article_content .article_snippet	{
	padding:20px 20px 20px 20px;
}










input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #929BA2;
    font-family:'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #929BA2;
   opacity:  1;
   font-family:'Lato', sans-serif;
   font-style: italic;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #929BA2;
   opacity:  1;
   font-family:'Lato', sans-serif;
   font-style: italic;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #929BA2;
   font-family:'Lato', sans-serif;
   font-style: italic;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #929BA2;
   font-family:'Lato', sans-serif;
   font-style: italic;
}
input::placeholder { /* Most modern browsers support this now. */
   color:    #929BA2;
   font-family:'Lato', sans-serif;
   font-style: italic;
}
